<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <aop:config proxy-target-class="true"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--扫描包下所有使用注解的类型-->
    <context:component-scan base-package="cn.edu.nefu.gdms"/>
    <context:annotation-config/>


    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--2.数据库的连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <!--配置连接池属性-->
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${username}"/>
        <property name="password" value="${password}"/>

        <!--c3p0连接池的私有属性-->
        <property name="maxPoolSize" value="100"/>
        <property name="minPoolSize" value="20"/>
        <!-- 线程池初始数量 -->
        <property name="initialPoolSize" value="20"></property>
        <!--close时不要coomit-->
        <property name="autoCommitOnClose" value="false"/>
        <!--超时时间-->
        <property name="checkoutTimeout" value="1800000"/>
        <!--当获取连接失败时的重试次数-->
        <property name="acquireIncrement" value="2"/>

    </bean>
    <!--约定大于配置-->
    <!--3.配置SQLSessionFactory对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置mybatis全局配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--扫描Entity包,使用别名 -->
        <property name="typeAliasesPackage" value="cn.edu.nefu.gdms.model"/>
        <!--扫描sql配置文件:mapper需要的xml文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--4.配置扫描Dao接口包,动态实现Dao接口,注入到Spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--给出需要扫描Dao接口包-->
        <property name="basePackage" value="cn.edu.nefu.gdms.dao"/>
    </bean>

    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据库的连接池-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置基于注解的声明是事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--2.Servlet-mapping映射路径:"/"-->
    <!--静态资源默认Servlet配置
        1.加入对静态资源的处理;js,gif,png
        2.允许使用"/"做整体映射
    -->
    <mvc:default-servlet-handler/>

    <!--3.配置jsp显示ViewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--4.spring sec配置-->
    <sec:http pattern="/**/**.js" security="none"/>
    <sec:http pattern="/**/**.png" security="none"/>
    <sec:http pattern="/**/**.css" security="none"/>

    <sec:http>
        <!--
          login-page:登陆页面，即返回到登陆jsp的页面url
          login-processing-url:登陆逻辑处理url，这里只需要定义一个url即可，登陆逻辑不需要写，因为已经交给spring-security自动处理了
          default-target-url:登陆成功后跳转的页面
          authentication-failure-url:登陆失败后跳转的页面
          username-parameter:登陆form的用户名input的name属性
          password-parameter:登陆form的密码input的password属性
        -->
        <sec:form-login login-processing-url="/user/login"
                        default-target-url="/Success.jsp"
                        authentication-failure-url="/fail.jsp"
                        username-parameter="name"
                        password-parameter="password"/>
        <!--退出登陆url，这里只需要定义一个url即可，退出登陆逻辑不需要写，因为已经交给spring-security自动处理了-->
        <sec:logout logout-url="/user/logout"/>
        <!--没有权限时返回的页面-->
        <sec:access-denied-handler error-page="/index.jsp"></sec:access-denied-handler>
        <!--session过期后，访问其他资源时跳转到登陆页面-->
        <sec:session-management invalid-session-url="/index.jsp"/>
        <!--自定义过滤器，为spring-security提供用户名、密码、权限等信息，有了这些信息，spring-security才能自动去处理登陆及权限的逻辑-->
        <sec:custom-filter ref="FilterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR"/>
        <!--禁用csrf，否则需要在登陆form配置csrf字段-->
        <sec:csrf disabled="true"/>
    </sec:http>

    <!--身份认证管理器-->
    <sec:authentication-manager alias="authenticationManager">
        <!--自定义身份认证管理器-->
        <sec:authentication-provider user-service-ref="CustomUserDetailsService"/>
    </sec:authentication-manager>

    <!--自定义过滤器，为spring-security提供用户名、密码、权限等信息，有了这些信息，spring-security才能自动去处理登陆及权限的逻辑-->
    <bean id="FilterSecurityInterceptor"
          class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <!--自定义权限决定器，根据用户是否拥有某资源的权限，从而决定是否让用户访问某资源-->
        <property name="accessDecisionManager" ref="CustomAccessDecisionManager"/>
        <!--自定义身份认证管理器-->
        <property name="authenticationManager" ref="authenticationManager"/>
        <!--自定义权限信息数据源-->
        <property name="securityMetadataSource" ref="CustomFilterInvocationSecurityMetadataSource"/>
    </bean>
</beans>



